[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib.git
[submodule "libs/gzip-hpp"]
	path = libs/gzip-hpp
	url = https://github.com/NewYaroslav/gzip-hpp.git
[submodule "libs/DataFeedHub"]
	path = libs/DataFeedHub
	url = https://github.com/NewYaroslav/DataFeedHub.git
[submodule "libs/time-shield-cpp"]
	path = libs/time-shield-cpp
	url = https://github.com/NewYaroslav/time-shield-cpp.git
[submodule "libs/simdcomp"]
	path = libs/simdcomp
	url = https://github.com/fast-pack/simdcomp.git
[submodule "libs/libvbyte"]
	path = libs/libvbyte
	url = https://github.com/cruppstahl/libvbyte.git
[submodule "libs/fast_float"]
	path = libs/fast_float
	url = https://github.com/fastfloat/fast_float.git
[submodule "libs/fast_double_parser"]
	path = libs/fast_double_parser
	url = https://github.com/lemire/fast_double_parser.git
[submodule "libs/zstd"]
	path = libs/zstd
	url = https://github.com/facebook/zstd.git
[submodule "libs/minizip-ng"]
	path = libs/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/libmdbx"]
	path = libs/libmdbx
	url = https://github.com/erthink/libmdbx.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/kurlyk"]
	path = libs/kurlyk
	url = https://github.com/NewYaroslav/kurlyk.git
[submodule "libs/asio"]
	path = libs/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "libs/openssl-win64-v3.4.0"]
	path = libs/openssl-win64-v3.4.0
	url = https://github.com/NewYaroslav/openssl-win64-v3.4.0.git
[submodule "libs/curl-8.11.0_1-win64-mingw"]
	path = libs/curl-8.11.0_1-win64-mingw
	url = https://github.com/NewYaroslav/curl-8.11.0_1-win64-mingw.git
[submodule "libs/log-it-cpp"]
	path = libs/log-it-cpp
	url = https://github.com/NewYaroslav/log-it-cpp.git
[submodule "libs/Simple-WebSocket-Server"]
	path = libs/Simple-WebSocket-Server
	url = https://gitlab.com/eidheim/Simple-WebSocket-Server.git
